  #main-panel2 {
    position: relative;
    float: none !important;
    width: 100% !important;
    background-color: #f4f3ef;
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.box {
  display: flex;
 
 
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  min-height: 100px;
  border: 2px #ccc solid;
  
}
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -22px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

 .responsive-table{padding-left:0;}
.responsive-table li {
	 border-radius: 3px;
	 padding: 25px 30px;
	 display: flex;
	 justify-content: space-between;
	 margin-bottom: 25px;
}
 .responsive-table .table-header {
	 background-color: #34B5B8;
	 font-size: 14px;
	 text-transform: uppercase;
	 letter-spacing: 0.03em;
}
 .responsive-table .table-row {
	 background-color: #fff;
	 box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
 
 @media all and (max-width: 767px) {
	 .responsive-table .table-header {
		 display: none;
	}
	 .responsive-table li {
		 display: block;
	}
	 .responsive-table .col {
		 flex-basis: 100%;
	}
	 .responsive-table .col {
		 display: flex;
		 padding: 10px 0;
	}
	 .responsive-table .col:before {
		 color: #6c7a89;
		 padding-right: 10px;
		 content: attr(data-label);
		 flex-basis: 50%;
		 text-align: right;
	}
}
 
 

.container1 .form-control {
   
     width:80px !important;
   position:relative;
      margin: 10px;
   
}
.add_form_field
{

}
.container1  input{text-align:center;}
a{text-decoration:none !important;}

/* Close Button */

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
 
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
     margin: 0 0 0 -8px;
   display: inline-block;
}
.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
  
}

.file-upload{display:block;text-align:center;}
.file-upload .file-select{display:block;border: 2px solid #51cbce;color: #34b5b8 ;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;    border-radius: .25rem;}
.file-upload .file-select .file-select-button{background:#51cbce;padding:0 10px;display:inline-block;height:40px;line-height:40px; float:right; color:#fff;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34b5b8 ;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34b5b8 ;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#34b5b8 ;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#34b5b8 ;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;
filter:alpha(opacity=0); }
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34b5b8 ;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}



.rtable.table>thead>tr>th {
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 0;
    text-transform: capitalize;
    border: 0;
  text-align:center;
}

/*form styles*/
#msform {
 /* width: 400px;*/
  margin: 50px auto;

  position: relative;

  
  
}
#msform fieldset {
  
    
  
  border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;

  
    border: 0 none;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  
  
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform .button1 {

  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
float:right;
}
#msform label {

font-size: .8571em;
    margin-bottom: 5px;
    color: #9a9a9a;
}
/*buttons*/
#msform .action-button {
  width:110px;
    font-weight: 600;
    font-size: .8571em;
    line-height: 1.35em;
  margin: 10px;
    padding: 11px 22px;
    cursor: pointer;
    background-color: #51cbce;
    color: #fff;
    transition: all .15s linear;
  text-align:center;
  border-width: 1px;
    border-radius: 30px;
    padding-right: 23px;
    padding-left: 23px;
	white-space: nowrap;
	text-transform: uppercase;
  

}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #51cbce;
}


/* //31jan */

#msform .accordion .card-header {margin: 10px 0;
    font-size: 1.57em;
    line-height: 1.4em;
    color: #252422;
    text-align: left; }
	
#msform .accordion .card {
  border-radius: 0 !important;
    box-shadow: none !important;
	background:#fbfaf5 !important;


}
#msform .accordion .card-header> a:before {
    float: right !important;
    font-family: FontAwesome ;
    content:"\f068" ;
    padding-right: 5px ;
}
#msform .accordion .card-header> a.collapsed:before {
    float: right !important;
    content:"\f067";
}
#msform .ghost-button {
    width: 110px;
    font-weight: 600;
    font-size: .8571em;
    line-height: 1.35em;
    margin: 10px;
    padding: 11px 22px;
    cursor: pointer;
    border: 2px solid #51cbce!important;
    color: #51cbce;
	background: transparent;
    transition: all .15s linear;
    text-align: center;
    border-width: 1px;
    border-radius: 30px;
    padding-right: 23px;
    padding-left: 23px;
	white-space: nowrap;
	text-transform: uppercase;
}
#msform .ghost-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #51cbce;
}
.buttonLf{border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    float: left;}


/*headings*/
.fs-title {
      margin: 10px 0;
      font-size: 1.57em;
    line-height: 1.4em;
  
  color: #252422;
  text-align:center;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
  text-align:center;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  text-align:center;
      padding-left: 0;
}
#progressbar li {
  list-style-type: none;
color:#252422 !important;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  text-align:center;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #252422;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  text-align:center;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  color:#252422 !important;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}

/*--- table Button ----*/
#resTable .btn-icon {
  background: none !important;
  color:#51cbce;
}

#resTable .btn-icon:hover {
  background: none !important;
  color:#34b5b8!important;
}

#resTable .btn-icon:active {
  background: none !important;
  color:#34b5b8!important;
}
#resTable .btn-icon:focus {
  background: none !important;
  color:#34b5b8!important;
}

#resTable .btn .bx {
  vertical-align: middle !important;
  font-size: 20px !important;
}

#resTable .dropdown-menu {
  padding: 0.25rem 0 !important;
}

#resTable .dropdown-item {
  padding: 0.5rem 1rem !important;
}

/*#resTable .dropdown .dropdown-menu:after, #resTable .dropdown .dropdown-menu:after, .dropdown-btn .dropdown-menu:after, .dropdown .dropdown-menu[x-placement=bottom-end]:after, .dropdown .dropdown-menu[x-placement=bottom-start]:after, .navbar-nav .dropdown-menu:after {
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 12px;
    top: -11px;
}*/
#resTable.dropdown .dropdown-menu[x-placement=top-end]:before, .dropdown .dropdown-menu[x-placement=top-start]:before, .dropup .dropdown-menu:before {
    border-top: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 12px !important;
    bottom: -12px;
}
#resTable.dropdown .dropdown-menu[x-placement=top-end]:after, .dropdown .dropdown-menu[x-placement=top-start]:after, .dropup .dropdown-menu:after {
    border-top: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
     left: 12px !important;
    bottom: -11px;
}
#resTable.card-just-text .dropdown .dropdown-menu:before, .card.card-just-text .dropdown .dropdown-menu:before, .dropdown-btn .dropdown-menu:before, .dropdown .dropdown-menu[x-placement=bottom-end]:before, .dropdown .dropdown-menu[x-placement=bottom-start]:before, .navbar-nav .dropdown-menu:before {
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
     left: 12px !important;
    top: -12px;
}
#resTable.card-just-text .dropdown .dropdown-menu:after, .card.card-just-text .dropdown .dropdown-menu:after, .dropdown-btn .dropdown-menu:after, .dropdown .dropdown-menu[x-placement=bottom-end]:after, .dropdown .dropdown-menu[x-placement=bottom-start]:after, .navbar-nav .dropdown-menu:after {
    border-bottom: 11px solid #fff;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
     left: 12px !important;
    top: -11px;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error {
    border: 1px solid red;
    font-weight: 300;
    color: red;
}

/*signin*/

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}


.btn-show-pass {
    font-size: 15px;
    color: #aaa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 200;
    height: 100%;
    top: 12px;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
}


/*breadcrumb  */
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 !important;
    margin-bottom: 1rem;
    list-style: none;
    background: none !important;
 border-radius: none !important;
}

.card-title {
    margin-bottom: .05rem !important;
}


/* <!-----multiselect---------------> */

.multiselect-native-select {
     position: relative;
}
.multiselect-native-select select {
  
}
.multiselect-selected-text{font-size:14px; }
.multiselect-container {
     position: absolute;
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
}


.multiselect-container .input-group {
     margin: 5px;
}
.multiselect-container li {
     padding: 5px;
}
.multiselect-container li .multiselect-all label {

}
.multiselect-container li a {
     padding: 0;
}
.multiselect-container li a label {
     margin: 0;
     height: 100%;
     cursor: pointer;
     font-weight: 400;
     padding: 3px 20px 3px 40px;
}
.multiselect-container li a label input[type=checkbox] {
     margin-bottom: 5px;
}
.multiselect-container li a label.radio {
     margin: 0;
}
.multiselect-container li a label.checkbox {
     margin: 0;
}
.multiselect-container li.multiselect-group label {
     margin: 0;
     padding: 3px 20px 3px 20px;
     height: 100%;
     font-weight: 700;
}
.multiselect-container li.multiselect-group-clickable label {
     cursor: pointer;
}
.multiselect.btn {/* 
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
         background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none; */
	display:block;
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    transition: color .3s ease-in-out,border-color .3s ease-in-out,background-color .3s ease-in-out;
    box-shadow: none;
	    height: calc(2.25rem + 2px);
}
.multiselect-container label.checkbox {
     padding: 3px 20px 3px 40px;
}
.multiselect-container label.radio {
     padding: 3px 20px 3px 40px;
}

.multiselect .caret {
display: none;}
.multiselect-container li a label.checkbox input[type=checkbox] {
     margin-left: -20px;
     margin-right: 0;
       opacity: 1;
  z-index: 1;
}
.multiselect-container li a label.radio input[type=radio] {
     margin-left: -20px;
     margin-right: 0;
}
